body {
    color: #000;
    background-color: #e7ebf0;
    font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
}
.header {
    max-width: 1010px;
    margin: 0 auto;
    height: 48px;
    background: #5682a3;
}
.header_logo{
    float: left;
    width: 31%;
}
.drop{
    position: relative;
}
.header_logo_drop .dropdown-toggle {
    color: #fff;
    padding: 17px 20px 15px 22px;
    display: block;
    font-size: 14px;
    line-height: 16px;
}
.dropdown.open .tg_head_btn, .tg_head_btn:hover {
    color: #fff;
    text-decoration: none;
    background: #497799;    
}
.dropdown-toggle:focus {
    outline: 0;
}
.header_logo_drop .dropdown-toggle:hover, .header_logo_drop .dropdown-toggle:focus, .header_logo_drop .dropdown-toggle:active {
    text-decoration: none;
}
.tg_head_btn {
    
    display: block;
    font-weight: bold;
    padding: 16px 19px;
    color: #b9cfe3;
    font-size: 13px;
    line-height: 16px;
}
 .icon-tg-title {
    vertical-align: top;
}
.icon-tg-title {
    width: 62px;
    height: 14px;
    display: inline-block;
    margin-top: 1px;
}
a {
    cursor: pointer;
}
a:focus, a:hover {
    color: #3a6d99;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

.icon-hamburger-wrap {
    display: inline-block;
    width: 18px;
    height: 14px;
    margin: 0 40px 0 0;
    vertical-align: top;
    
    /* -webkit-transform: translate3d(0, 0, 0); */
}

.icon-bar:nth-child(2) {
    margin-bottom: 4px;
    margin-top: 4px;
}
 .icon-bar {
    background: #fff;
    
    display: block;
    height: 2px;
    margin: 0;
    box-sizing: border-box;
}
.icon-bar {
    opacity: 1;
    transform-origin: 50% 50%;
    transition: transform 0.1s ease-in;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    background: #fff;
    max-width: 1010px;
    min-width: 300px;
    margin: 0 auto;
    box-shadow: 0px 1px 0 #dfe5ec;
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    border-bottom: 1px solid #d2dbe3;
    overflow: hidden;
}
#footer {
    font-size: 11px;
    text-align: center;
    color: #9cacb9;
    line-height: 40px;
}
